/* Base styles */
.card-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
}

.recipe-card {
  width: calc(25% - 20px); /* Adjust based on the parent gap */
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  cursor: pointer;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.first-card-div,
.second-card-div {
  text-align: center;
}

.first-card-div {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.display-recipe-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for transform and filter */
}

.recipe-card:hover .display-recipe-img {
  filter: opacity(50%);
  transform: scale(1.05); /* Slightly zoom in the image */
}

.card-category {
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
  background-color: #009e74;
  color: white;
  padding: 10px 15px;
  min-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.second-card-div {
  padding: 15px;
}

.second-card-div h3,
.second-card-div span,
.second-card-div p {
  margin: 5px 0;
}

.second-card-div p {
  font-weight: 900;
  color: #009e74;
}

.delete-button {
  max-height: 50px;
  transition: .3s ease;
  padding: 10px;
  border-style: none;
  color: white;
  background-color: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.delete-button :hover{
  box-shadow: none;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .recipe-card {
    width: 100%; /* Each card takes full width of its container */
    max-width: none; /* Override max-width for full container width */
  }
}

.card-grid h2 {
  width: 100%; /* Make the header span the full width of the grid */
  text-align: center; /* Center the text */
  margin: 20px 0; /* Add some margin around the header */
}

/* Base styles */
.tag-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(234, 234, 234);
}

.recipe-tag {
  width: calc(25% - 20px);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  cursor: pointer;
}

.tag-div h3 {
font-size: smaller;
}

.recipe-tag:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.tag-div {
  padding: 15px;
}

.tag-div h2, .tag-div span {
  margin: 3px 0;
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .recipe-tag {
    width: 100%; /* Each card takes full width of its container */
    max-width: none; /* Override max-width for full container width */
  }
}