.flex-box{
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
}

.v-flex-box{
  display: flex;
  flex-direction: row;
  width: 40rem;
  height: 10rem;
  background-color: aliceblue;
  border-radius: 10px;
}

.recipe-box{
  display: flex;
  flex: 1;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recipe-info{
  padding-left: 1rem;
  padding-right: 1rem;
}

.cart-description{
  text-overflow: ellipsis;
  padding-right: 3rem;
}

.exit-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px 10px 5px 10px;
  background-color: red;
  border-radius: 10px;
  color: white;
  border-color: red;
  cursor: pointer;
}

.cart-rating{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.cart-img{
  width: 10rem;
  height: 10rem;
}