.flex-box{
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
}

.v-flex-box{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 40rem;
  border-radius: 10px;
}

.item-box{
  height: 10rem;
  display: flex;
  position: relative;
  background-color: aliceblue;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.item-info{
  padding-left: 1rem;
  padding-right: 3rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.scroll-window{
  overflow-y: auto;
}

.scroll-window::-webkit-scrollbar {
  display: none;
}

.cart-description{
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 3rem;
}

.exit-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px 10px 5px 10px;
  background-color: red;
  border-radius: 10px;
  color: white;
  border-color: red;
  cursor: pointer;
}

.cart-rating{
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
}

.cart-img{
  width: 10rem;
  height: 10rem;
  cursor: pointer;
}