/* Base styles */
.tag-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(234, 234, 234);
}

.recipe-tag {
  width: calc(25% - 20px);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  cursor: pointer;
}

.tag-div h3 {
font-size: smaller;
}

.recipe-tag:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.tag-div {
  padding: 15px;
}

.tag-div h2, .tag-div span {
  margin: 3px 0;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .recipe-tag {
    width: 100%; /* Each card takes full width of its container */
    max-width: none; /* Override max-width for full container width */
  }
}