.display-ingredient-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  float: left;
}

.display-ingredient-info {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  flex-wrap: nowrap;
}

.display-ingredient-info p {
  margin-bottom: 10px;
}

.display-ingredient-info .ingredient-name {
  font-weight: bold;
  flex: 1;
}

.ingredient-description {
  font-style: italic;
  overflow: hidden;
  font-weight: bolder;
  text-overflow: ellipsis;
}

.display-ingredient-info .ingredient-type {
  font-weight: bold;
}
