.cocktail-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cocktail-card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  width: 200px; /* Adjust based on your design */
}

.cocktail-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}

.cocktail-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .cocktail-list {
    flex-direction: column;
    align-items: center;
  }

  .cocktail-card {
    width: 100%; /* Adjust based on your design */
  }
}
