.comments-section textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
}

.comments-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.comments-section div {
  margin-top: 30px;
}

.comments-section p {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .comments-section textarea,
  .comments-button-container button {
    width: 100%;
    display: inline-block;
  }

  .comments-section textarea {
    width: 100%;
  }

  .comments-button-container button {
    width: auto;
  }
}
