/* Base class for shared properties */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 25px;
  width: 90%;
  min-height: 600px;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #007bff;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* Specific classes for unique properties */
.home-header {
  background-image: url("../assets/HeaderImage.jpg");
}

.team-header {
  background-image: url("../assets/Team.jpg");
}

.header-content {
  text-align: center;
  width: 1000px;
  padding: 30px;
}

.header-title {
  color: white;
  margin-bottom: 20px;
}

.header-paragraph {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 768px) {
  .home-header {
    width: 100%;
  }

  .header {
    height: 200px;
  }
}

.header-paragraph {
  text-align: center;
  width: auto;
  padding: 50px;
}
