.home-header {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/024/403/877/small_2x/table-scene-with-a-selection-of-delicious-foods-top-view-over-a-dark-wood-banner-background-generate-ai-free-photo.jpg');
  background-color: #007bff;
  background-size: cover;
  background-position: center;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  text-align: center;
}

.header-title {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

.header-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 200px;
  }
}

@media only screen and (max-width: 576px) {
  .header-title {
    font-size: 24px;
  }
}

