.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center; /* Center items vertically */
}

.navbar-logo a {
  text-decoration: none;
}

.navbar-logo img {
  margin-right: 10px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px;
}

.list-container{
  display: flex;
  justify-content: center;
  width: 2rem;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu li {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding: 0 10px;
}

.nav-menu li a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */

    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: white;
  }

  .menu-icon {
    display: flex;
  }

  .navbar-logo {
    display: none;
  }

  .nav-menu {
    margin-top: 15%;
    display: none;
    border: none;
    flex-direction: column;
    align-items: center;
    padding-top: none;
    justify-content: flex-end; /* Align to the right when closed */
  }

  .nav-menu.active {
    display: flex;
    justify-content: flex-end; /* Align to the right when open */
  }

  .nav-menu.active .menu-icon {
    display: flex;
    justify-content: flex-end; /* Align to the right when open */
  }

  .nav-menu li {
    padding: 10px 0;
  }
}
