:root{
  --background-color: #fff;
  --background-light: #fff;
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color: rgb(255,0,86);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animations-speed: 1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 55px;
  box-shadow: 0 3px 6px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--primary-color);
    text-shadow: 0 1px 3px var(--shadow-color);
  }
}

.container{
  padding-inline: 15vw;
}

.nav-links{
  a{
    margin-left: 1em;
    color: var(--text-light);
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    cursor: pointer; 
    &::before{
      content: '';
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: var(--primary-color);
      position: absolute;
      bottom: -5px;
      left: 0;
      transform: scaleX(0);
      transition: transform calc(var(--animations-speed) * 0.2s) ease-in-out;
    }
    &:hover{
      &::before{
        transform: scaleX(1);
      }
      color: var(--primary-color); 
    }
  }
}
