.recipeContainer {
  width: 80rem;
  margin: 0 auto;
  margin-bottom: 50px;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipeItem {
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* .recipeItem:hover {
  transform: translateY(-5px);
} */

.textContainer {
  padding: 15px;
  text-align: center;
}

.imgContainer {
  width: 100%;
}

.imgContainer img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 990px) {
  .recipeItem {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  .recipeItem {
    width: calc(100% - 20px);
  }
}
