.search-wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search {
    width: 100%; 
  }
    
  .error-message {
    color: red;
    font-weight: bold;
  }

 .dataResult {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd; 
}

.dataItem {
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 1px solid #ddd; /* Gräns mellan varje dataItem */
}

.dataItem:last-child {
  border-bottom: none; /* Ta bort gränsen från sista dataItem */
}

.dataItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dataItem a {
  display: block;
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

.dataItem a:hover {
  color: #555;
}


.dataResult {
  --num-items: 10; 
  border-width: calc(1px + (var(--num-items) * 1px));
}
