.search-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search-bar {
    display: inline-block;
    position: relative;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    margin-right: 10px;
    font-weight: bolder;
  }
  
  .search-bar button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  
  .suggestions {
    position: absolute;
    top: calc(100% + 0px); 
    left: 0;
    min-width: 400px;
    width: 400px;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    z-index: 1;
    font-weight: bolder;
  }
  
  .suggestion {
    padding: 8px;
    cursor: pointer;

  }

  .suggestion:hover {
    background-color: #f2f2f2;
  }
  
  /* Styla scrollbaren */
  .suggestions::-webkit-scrollbar {
    width: 5px;
  }
  
  .suggestions::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .suggestions::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .suggestions::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  