.recipe-container {
  width: 80rem;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.text-container,
.img-container {
  text-align: center;
  flex: 1;
}

.text-container {
  padding: 30px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.info-container {
  display: flex;
  justify-content: flex-start;
}

.time-review-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
}

.info-tag {
  text-align: center;
  padding: 0px 15px;
  margin: 5px;
  min-width: 120px;
  background-color: #ececec;
  border-radius: 20px;
  color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.ingredients-container {
  background-color: white;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
  padding: 30px;
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-objects {
  display: flex;
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.ingredient-name {
  text-align: center;
  padding: 12px 15px;
  margin: 5px;
  background-color: #009e74;
  min-width: 80px;
  border-radius: 20px;
  color: white;
  list-style-type: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.instructions-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}


.ingredients-wrapper,
.instructions-wrapper {
  padding: 50px;
  flex: 1;
}

.ingredients-wrapper {
  background-color: #ececec;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media screen and (max-width: 990px) {

  .recipe-container {
    width: 100%;
    margin: 0 auto;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }


  .instructions-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
  }

  .to-do-step {
    background-color: #ececec;
   padding: 12px;
    margin: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
  }


  .ingredients-wrapper,
  .instructions-wrapper {
    padding: 30px;
    width: auto;
  }



  .ingredients-wrapper {
    background-color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }


  .centered-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .centered-mobile h2{
    text-align: center;
  }


}
