.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
padding: 30px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}


.topnav a {
  min-width: 70px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  
}

.topnav a:hover {
  color: red;
}

.topnav a.active {
  padding-top: 50px;
  border-radius: 30px;
  background-color: #04aa6d;
  color: white;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

}


