.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding: 30px;
  overflow: hidden;
}

.topnav a {
  min-width: 70px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.topnav a:hover {
  color: red;
}

.topnav a.active {
  border-radius: 30px;
  background-color: #04aa6d;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
