/*Bilge + Kim + Hampus*/

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.sticky{
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1000;
}

.topnav a {
  min-width: 70px;
  float: left;
  display: block;
  text-align: center;
  font-size: large;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
}

.topnav a:hover {
  color: red;
}

.topnav a.active {
  border-radius: 30px;
  background-color: #04aa6d;
}

.topnav .icon {
  display: none;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 630px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }

  .topnav.responsive a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 96%;
    padding: 10px 0px 10px 0px;
  }

  .item-count{
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
