@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* color: #1a1a1a; */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4.5em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 0.8em;
}

h5 {
  font-size: 0.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

a,
b,
p,
li,
h1,
h2,
h3,
h4,
h5,
input,
textarea,
span,
button,
.suggestion,
.standard-container,
.user-input {
  color: #1a1a1a;
}

.recipe-link {
  text-decoration: none;
  font-weight: 300;
}

.lightup-text:hover{
  color: #009e74;
}

.find-cocktails{
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.modal-cart-window {
  position: absolute;
  inset: 100px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 40px;
}

/* Buttons */

.main-button {
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: inherit;
  font-family: inherit;
  background-color: #ff1212;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.main-button .green {
  background-color: #009e74;
}

.main-button:hover {
  border-color: none;
  background-color: #ff5151;
}

.main-button:hover .green {
  border-color: none;
  background-color: #1daf88;
}

/* Containers - all components must be wrapped inside the .standard-container*/
.standard-container {
  margin-top: 0rem;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* This one places all children inside standard-container in the vertical center */
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Good to use for centering items */
.centered-container p {
  text-align: center;
  padding: 20px;
}

/* Mainly applied to cocktail ingredients on the side showing a cocktail //Kim */
.centered-tags li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.maximum-width-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spacer-container {
  margin: 1rem;
}

.button-container {
  padding: 30px;
}

/* Applies to forms and search bars */
.user-input {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-checkbox {
  margin: 4px;
  margin-left: 20px;
}

/* Suggestions for search */
.suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: calc(100% - 20px);
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffffdf;
  border: none;
  border-radius: 20px;
  z-index: 1;
}

.green-background {
  background-color: #009e7439;
}

.pointer {
  cursor: pointer;
}

.filter-suggestions {
  list-style-type: none;
  cursor: pointer;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f2f2f2;
}

.suggestions::-webkit-scrollbar {
  width: 5px;
}

.suggestions::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.suggestions::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.suggestions::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  padding: 0rem, 2rem, 2rem, 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }

  .standard-container {
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
  }
}
